/* Скидання параметрів */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

* {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
   font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
}

/* -------------------------- */

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height:100%;
}

/* -------------------------- */

[class*="__container"] {
   max-width: 1200px;
   margin: 0px auto;
   padding: 0 15px;
}

/* -------------------------- */
/* HEADER */

.showcase {
   width: 100%;
   position: relative;
   background: url('images/intro_img.jpg') no-repeat center center/cover;
   height: 820px;
}

.showcase-top {
   height: 60px;
   align-items: center;
   display: flex;
   justify-content: space-between;
}

.header__logo {
   display: flex;
}

.header-logo__text {
   margin-left: 10px;
}

.menu__list {
   display: flex;
   position: relative;
   gap: 25px;
}

.menu__link {
   font-size: 12px;
   line-height: 22px;
   color: #FFFFFF;
}

.menu__link:hover {
   text-decoration: underline;
   color: #4285F4;
}

.showcase-content {
   margin-top: 190px;
   align-items: center;
   text-align: end;
   width: 45%;
}

.showcase-content p {
   font-size: 50px;
   margin-bottom: 50px;
}

.button {
   text-transform: uppercase;
   font-size: 12px;
   line-height: 1.2;
   letter-spacing: 1px;
   color: #fcfdfe;
   padding: 25px 60px ;
   border-radius: 30px;
   background-color: #8824cd;
   transition: background-color 0.3s ease 0s;
}

.button:hover {
   background-color: #6b1068;
}

@media (max-width: 710px) {
   .showcase {
      height: 450px;
   }
   .showcase-content {
      width: 55%;
   }
   .showcase-content p {
      margin-top: -80px;
      font-size: 30px;
   }
   .button {
      padding: 15px 20px ;
   }
   .showcase-top {
      flex-direction: column;
   }
}

@media (max-width: 450px) {
   .showcase {
      height: 450px;
   }
   .showcase-content {
      width: 100%;
      text-align: center;
   }
   .menu__list {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}

/* -------------------------- */
/* INFORMATION */

.information-about-us {
   background-color: #2e3b4e;
   padding-bottom: 50px;
}

.information-about-container {
   padding-top: 100px;
   max-width: 800px;
   margin: 0px auto;
   align-items: center;
}

.information-about-content {
   display: flex;
   margin-bottom: 50px;
   line-height: 1.2;
}

.information-about-title {
   font-size: 15px;
   margin-bottom: 30px;
   
}

.information-about-subtitle {
   width: 85%;
}

@media (max-width: 450px) {
   .information-about-container {
     text-align: center; 
     padding-top: 40px;
   }
 
   .information-about-content {
     flex-direction: column;
     margin-bottom: 30px;
     gap: 20px;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
   }
   .information-about-subtitle {
      margin-left: 20px;
   }
}

/* -------------------------- */
/* BANG BANG */

.bang-content {
   height: 500px;
   padding-top: 100px;
   background: url('../NewRex/images/bang_bang_boo.jpg') no-repeat center center/cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
 
.bang-content__text {
   text-align: center;
}
 
.bang-content__title {
   font-size: 30px;
   margin-bottom: 20px;
}
 
.bang-content__subtitle {
   width: 40%;
   font-size: 14px;
   margin-left: auto;
   margin-right: auto;
}
 
.bang-button {
   margin-top: 50px;
}
 
.bang-color {
   color: #d54c63;
   background-color: #fff;
   transition: background-color 0.3s ease, color 0.3s ease;
}
 
.bang-color:hover {
   background-color: #d54c63;
   color: #fff;
}

@media (max-width: 450px) {
   .bang-content__text {
      margin-top: -150px;
   }
   .bang-content__subtitle {
      width: 60%;
   }
   .bang-content {
      height: 300px;
   }
}

/* -------------------------- */
/* HEADING */

.heading {
   display: flex;
   align-items: center;
}

.heading-text {
   color: #000;
   margin-left: 50px;
   flex: 0 1 70%;
   max-width: 45%;
}

.heading-title, p {
   margin-bottom: 15px;
   letter-spacing: 0.4px;
   line-height: 1.2;
}

.heading__photo {
   flex: 0 1 30%;
}

.heading__photo img {
   width: 100%;
}

.heading-title {
   font-size: 16px;
   color: #d54c63;
}

@media (max-width: 800px) {
   .heading-text p {
      font-size: 8px;
   }
}

/* -------------------------- */
/* EXPERIENCE */

.experience-content {
   height: 500px;
   padding-top: 100px;
   background: url('../NewRex/images/experience.jpg') no-repeat center center/cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
 
.experience-content__text {
   text-align: center;
}
 
.experience-content__title {
   font-size: 30px;
   margin-bottom: 20px;
}
 
.experience-content__subtitle {
   width: 60%;
   font-size: 18px;
   margin-left: auto;
   margin-right: auto;
}

.experience-button {
   margin-top: 50px;
   margin-bottom: 50px;
}

@media (max-width: 450px) {
   .experience-content__subtitle {
      font-size: 10px;
   }
}

/* -------------------------- */
/* PHOTOGRAPHY */

.photography {
   background: url('../NewRex/images/photography.jpg') no-repeat center center/cover;
   height: 700px;
}

.photography-button {
   padding-top: 500px;
   margin-bottom: 40px;
}

.photography-text {
   font-size: 36px;
   width: 50%;
}

.phot-button {
   font-size: 10px;
   padding: 15px 30px ;
   border: 1px solid #fff;
   border-radius: 30px;
   background-color: none;
   color:#FFFFFF;
}

.phot-button:hover {
   border: 1px solid #6b1068;
   color: #6b1068;
}

@media (max-width: 710px) {
   .photography-button {
      padding-top: 100px;
   }
   .photography-text {
      font-size: 36px;
      width: 100%;
   }
}

@media (max-width: 450px) {
   .photography {
      background: url('../NewRex/images/photography.jpg') no-repeat center center/cover;
      height: 400px;
   }
   .photography-text {
      font-size: 24px;
   }
}

/* -------------------------- */
/* HERE */

.here {
   display: flex;
   align-items: center;
   justify-content: end;
}

.here-text {
   color: #000;
   margin-right: 160px;
   flex: 0 1 70%;
   max-width: 45%;
}

.here-title, p {
   margin-bottom: 15px;
   letter-spacing: 0.4px;
   line-height: 1.2;
}

.here__photo {
   flex: 0 1 30%;
}

.here__photo img {
   width: 100%;
}

.here-title {
   font-size: 16px;
   color: #d54c63;
}

@media (max-width: 800px) {
   .here-text p {
      font-size: 8px;
   }
}

@media (max-width: 710px) {
   .here-text {
      margin-right: 80px;
   }
}
